{{#link-to "index"}} Home {{/link-to}} |
{{#link-to "accounts"}} Accounts {{/link-to}} |
{{#link-to "assess"}} Assess {{/link-to}} |
{{#link-to "build"}} Build {{/link-to}}
<main>
	{{outlet}}
</main>
